body {
    position: relative;
    background: $background_color;
    color: $text_color;
    font-family: $font;
    font-size: 1rem;
    height: 100vh;
    // margin: 4%;

}

@media screen and (max-width: 768px) {

    .header__item,
    .flex {
        @include flex(row, space-between);

    }

    .flexmenu {
        width: 100%;
        // background-color: #000;
        // color: #fff;
        line-height: 1.4em;

    }

    .flex {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0.5em;
    }

    .menu__item {
        display: none;
        align-items: flex-start;
        justify-content: flex-start;
        width: 60%;
        padding: 3%;
        font-size: 1.25rem;

    }

    .menu__item:nth-child(2) {
        display: inline-flex;
        justify-content: left;
        width: 80%;
        margin-left: 0;
        margin-right: auto;

    }

    .menu__item:nth-child(n+2):hover {
        background-color: $hover;
        border-radius: 0.5em;
        color: $border_color;
    }

    .mobile-menu {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        width: 1.2em;
        z-index: 2;
    }

    .menu-icon {
        font-size: 2.5em;
        font-weight: bold;
        cursor: pointer;

    }

    .hide {
        display: none;
    }

    .show {
        display: inline-flex;
    }

    // *************************************************** 



}



@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .flex {
        flex-direction: row;
        margin: 1% 0%;
    }

    .menu__item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 10vw;

        font-weight: bold;

    }
}




// ********************************************************************* 
// FULL SCREEN 

.header {
    @include flex(column, space-around);

}

.general {
    margin-bottom: 0%;
}

.header__item {
    @include flex(row, space-between);
    margin: 2.4% 3% 0%;
}

.general {
    @include flex(row, flex-end);
    cursor: pointer;
}

.flexmenu {
    cursor: pointer;
}

.general div {
    margin: 1% 1%;
}

.letter,
.special__letter {
    font-weight: bold;
    font-size: 0.75rem;

}

.letter:hover {
    background-color: $hover;
    padding: 1%;
    border-radius: 20%;
    transition: .8s;
    transform: scale(1);


}

.active {
    background-color: $hover;
    padding: 1%;
    border-radius: 20%;
}

.telephone {
    font-weight: bold;
}

.letter,
.special__letter,
.transparent,
.dots,
.telephone {
    align-self: center;
}

.menu__item:hover {
    color: $hover;
    transition: .7s;
}

// ************************************************* 
// SYMBOL AND HEADING AND BUTTON 

.symbol {
    position: absolute;
    top: 0;
    left: 27%;
    z-index: -1;

}

.primary__heading {
    position: absolute;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.875rem;
    left: 36%;
    top: 35%;

}

.heading__button {
    position: absolute;
    left: 48%;
    top: 100%;
}

.heading__button:hover {
    background: url(../img/red_button.svg) no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .symbol {
        position: absolute;
        left: 20%;
    }

    .primary__heading {
        position: absolute;
        top: 50%;
        left: 33%;

    }

    .heading__button {
        position: absolute;
        left: 50%;
        top: 100%;
    }
}

@media screen and (max-width: 768px) {
    .symbol {
        position: absolute;
        top: 0;
        left: 25%;
        width: 80%;
    }

    .primary__heading {
        position: absolute;
        top: 43%;
        left: 30%;

    }

    .heading__button {
        position: absolute;
        left: 60%;
        top: 83%;
    }

    .general {
        justify-content: flex-start;
    }

}

@media screen and (max-width: 412px) {
    .symbol {
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
    }

    .primary__heading {
        position: absolute;
        top: 30%;

    }

    .heading__button {
        position: absolute;
        left: 55%;
        top: 65%;
    }

    .transparent {
        color: transparent;
    }

    .dots {
        display: none;
    }

    .telephone {
        width: 30%;

    }

    .general {
        background-color: $mobile;
        margin: 0;
    }
}