// GENERAL STYLES 

body {
    position: relative;
    background: $primary-background;
    color: $primary-text;
    font-family: $font;
    font-size: 1rem;
    height: 100vh;

}

.link__item {
    text-decoration: none;
    color: inherit;

}

.link__item:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


// CONTENT IN MIDDLE BOXES 

.main {
    position: absolute;
    top: 115%;

}

.main__introduction,
.main__content {
    padding: 0% 6%;
}

.main__heading {
    padding: 8% 0 6%;
    font-size: 1.875rem
}

.main__introduction {
    @include flex(row, space-between);
    top: 750%;
}

.main__menu {
    width: 105%;
    font-weight: bold;
    font-size: 2.375rem;
    color: $secondary-text;
}

.main__menu li {
    text-align: end;
    margin: 0 5%;
    padding: 3% 7%;
    border-right: 2px solid $primary-border;
}

.special {
    background: $primary-heading;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover:hover {
    color: $hover;
    cursor: pointer;
}

.main__description {
    text-align: justify;
    margin: 0 10% 5% 5%;
    font-size: 1rem;
    line-height: 1.875rem;
}

// ***************************************************** 

.main__item--secondary {
    padding: 3% 6% 1% 7.5%;
    font-size: 0.875rem;
    color: $secondary-heading;
    font-weight: bold;
    vertical-align: middle;
}

.main__item--secondary .link__item {
    text-transform: uppercase;
}

.main__heading--special {
    color: $hover;
    padding: 0% 6% 3% 7.5%;
    font-size: 2.2rem;
}

.main__content {
    @include flex(row, space-between);
    flex-wrap: wrap;
}

.main__content--item {
    width: $size / 3;
}

.main__content--icon {
    width: 18%;
    background-color: $additional-background;
    border-radius: 20%;
    margin: 1% 1% 1% 0%;
}

.main__content--image {
    padding: 8%;
}

.main__content--heading,
.secondary__content--heading {
    color: $secondary-heading;
    font-size: 1.375rem;
    padding: 5% 15% 3% 0%;
    line-height: 1.625rem;
}

.content__special {
    padding: 0% 0% 5% 0%;
    line-height: 1.625rem;
}

.content {
    text-align: justify;
    line-height: 1.625rem;
}

@media screen and (max-width: 1920px) {
    .main {
        top: 85%;
    }

    .main__content--icon {
        width: 16%;
    }

    .main__content--item {
        padding: 2%;
    }
}

@media screen and (max-width: 1440px) {
    .main {
        top: 115%;
    }

    .main__content--icon {
        width: 20%;
    }

    .main__content--item {
        padding: 2%;
    }
}



@media screen and (max-width: 1024px) {
    .main {
        top: 130%;
    }

    .main__content--item {
        padding: 2%;
    }

    .main__content--icon {
        width: 28%;
    }

    .main__menu,
    .main__description {
        width: 100%;
        margin-top: 2%;
    }

    .main__menu li {
        white-space: nowrap;
        font-size: 1.9rem;
        padding-bottom: 8%;
    }

    .main__heading {
        padding-top: 0;
    }

}

@media screen and (max-width: 768px) {
    .main {
        top: 115%;
    }

    .main__introduction {
        @include flex(column, space-between);
    }

    .main__menu li {
        border-right: none;
        white-space: nowrap;
        padding: 3% 10% 3% 0%;
        margin: 0;
    }

    .main__menu {
        border-bottom: 2px solid $primary-border;
    }

    .none {
        display: none;
    }

    .main__menu ul {
        display: flex;
        flex-direction: row;
        font-size: 1.7rem;
        width: 100%;
    }

    .main__description {
        margin: 0;
        padding: 0% 1%;
    }

    .main__description p {
        font-size: 1.1875rem;
    }

    .main__heading {
        font-size: 1.5rem;
        padding: 3% 0%;
    }

    .main__content {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .main__content--item {
        width: 50%;
        padding: 5% 5% 5% 0%;

    }

    .main__content--image {
        padding: 6%;
        width: 90%;
    }

    .main__heading--special {
        width: 80%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 412px) {
    .main {
        top: 80%;
    }

    .main__menu li {
        padding: 3%;

    }

    .main__menu ul {
        font-size: 1.5rem;
    }

    .none--special {
        display: none;
    }

    .main__description,
    .main__menu,
    .main__item--secondary,
    .main__heading--special,
    .main__content--item {
        width: 100%;
    }

    .main__description p {
        font-size: 1.1875rem;
    }

    .main__heading {
        font-size: 1.25rem;

    }

    .main__content {
        @include flex(column, space-between);

    }

    .main__content--icon {
        width: 18%;
    }
}

// ********************************************************** 
// SLIDER 
.slide {
    display: flex;
    flex-direction: row;
}

.radio {
    display: none;
}

.container {
    position: relative;
    margin: 2% auto;
    background-color: $additional-background;
}

.slider {
    width: 100%;
    position: absolute;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
    height: auto;
    background-color: $additional-background;
}

.slide {
    position: absolute;
    width: 100%;
    padding: 6% 4%;
    height: 100%;
    top: 0;
    opacity: 0;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 1.3s;
    border-radius: 5%;

}

.caption {
    width: 100%;
    height: 100%;
    font-size: 1.875rem;
    transition: 0.9s;
    color: $hover;
    font-weight: bold;
    background-color: $secondary-background;
    text-align: justify;
    padding: 6%;
    line-height: 2;

}

.caption__item--hover img {
    width: 1%;

}

.caption__item--hover {
    font-size: 0.875rem;
    color: $secondary-heading;
    font-weight: bold;
    text-transform: uppercase;
}

.caption__item--bold,
.caption__item {
    color: $secondary-text;
}

.caption__item--bold {
    font-weight: bold;
    padding: 8% 0% 4%;
}

.caption__item {
    font-size: 0.875rem;
}

.dot {
    width: 100%;
    position: absolute;
    top: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot label {
    width: 16px;
    height: 16px;
    background: $secondary-heading;
    margin: 0 1%;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

.dot label:hover {
    opacity: 0.7;
}

#radio-1:checked~#slide-1,
#radio-2:checked~#slide-2,
#radio-3:checked~#slide-3 {
    opacity: 1;

}

#radio-1:checked~#slide-1 img,
#radio-2:checked~#slide-2 img,
#radio-3:checked~#slide-3 img {
    transform: scale(1);

}

#radio-1:checked~.dot #label-1,
#radio-2:checked~.dot #label-2,
#radio-3:checked~.dot #label-3 {
    background: $secondary-heading;
    opacity: 1;
}

@media screen and (max-width: 1440px) {
    .caption {
        line-height: 1.5;
        height: 70%;
        padding: 3%;
    }

    .slide img {
        width: 70%;
        height: 70%;
    }



    .caption__item--hover img {
        width: 1%;
        vertical-align: middle;
    }
}



@media screen and (max-width: 1024px) {
    .slider {
        padding-bottom: 40%;
    }

    .slide {
        padding: 3% 4%;
    }

    .slide img {
        width: 80%;
        height: 95%;
        padding: 1.2% 0%;
    }

    .caption__item--hover img {
        width: 1%;
        vertical-align: middle;
    }

    .caption {
        line-height: 1.3;
        height: 90%;
        font-size: 1.4rem;
        padding: 3.9%;
    }

    .dot {
        top: 95%;
    }
}

@media screen and (max-width: 768px) {

    .slide {
        flex-direction: column;
    }


    .slider {
        padding-bottom: 134.5%;
    }

    .slide {
        padding: 6% 4%;

    }

    .caption {
        font-size: 1.875rem;
        padding: 6%;

    }

    .caption__item--hover img {
        width: 1.5%;
        vertical-align: middle;
    }

    .dot {

        top: 98%;
    }
}


@media screen and (max-width: 412px) {
    .slider {
        padding-bottom: 230%;
    }

    .slide {
        padding: 10% 4%;
    }

    .caption {
        font-size: 2rem;


    }

    .caption__item--hover img {
        width: 2%;
    }
}

// ******************************************************* 
// LOGOS 

.logo {

    position: absolute;
    top: 379.8%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: $additional-background;
}

.logo__heading {
    margin: 8% 2% 5%;
    width: 100%;
    color: $additional-heading;
    text-align: center;
    text-transform: uppercase;

}

.logo__item {
    @include flex(column, flex-start);
    flex-grow: 1;
    width: $size / 4;
}

@media screen and (min-width: 1920px) {

    .logo {
        top: 290.9%;
    }
}

@media screen and (max-width: 1440px) {

    .logo {
        top: 376.8%;
    }

    .logo__heading {
        margin: 8% 2% 5%;
    }
}

@media screen and (max-width: 1024px) {

    .logo {
        top: 394%;
    }

    .logo__heading {
        margin: 8% 2% 5%;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        top: 530%;
    }

    .logo__heading {
        margin: 18% 2% 5%;
    }

    .logo__item {
        width: $size / 3;
    }

}


@media screen and (max-width: 412px) {

    .logo {
        top: 581.5%;
    }

    .logo__item {

        width: 100%;
    }

    .display__none {
        display: none;
    }
}

// ********************************************************************** 
// SECONDARY CONTENT 

.secondary__content--wrapper {
    position: absolute;
    top: 483%;
    background-color: $secondary-background;
    width: $size;
    @include flex(column, space-between);
    font-size: 1rem;
    padding: 2%;


}

.secondary__content--link {
    text-decoration: none;
    color: inherit;
    padding: 3% 0% 3% 2%;
    text-transform: uppercase;
    vertical-align: middle;
}

.secondary__content--link:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.secondary__heading--special {
    color: $hover;
    padding: 3% 2%;
    font-size: 2.2rem;
}

.secondary__content {
    @include flex(row, space-around);
}

.secondary__content--item {
    width: $size / 3;
}

.secondary__content--arrow {
    width: 0.5%;
    vertical-align: middle;
}

.secondary__content--hover {
    font-size: 0.875rem;
    color: $secondary-heading;
    font-weight: bold;
}

.secondary__content--date {
    color: $secondary-text;
    font-size: 0.75rem;
}

.secondary__content--text {
    border-top: 5px solid $secondary-border;
    font-size: 0.875rem;
    color: $additional-text;
    padding: 3%;
    line-height: 2;
}

.secondary__content--img {
    width: 100%;
}

.secondary__content--item {
    padding: 2%;
}

.secondary__content--heading,
.secondary__content--date,
.secondary__content--text {
    padding: 3%;
    background-color: $additional-background;
}

.unique {
    color: $additional-heading;
}

.bolder {
    font-weight: bold;
}

.flexend {
    color: $secondary-text;
}

@media screen and (max-width: 1920px) {
    .secondary__content--wrapper {
        top: 379.5%;
    }

    .stretch__prim {
        padding-bottom: 18%;
    }

    .stretch__secon {
        padding-bottom: 13%;
    }
}

@media screen and (max-width: 1440px) {
    .secondary__content--wrapper {
        top: 472%;
    }

    .secondary__content--heading,
    .secondary__content--date,
    .secondary__content--text {
        padding: 3%;
    }


    .stretch__prim {
        padding-bottom: 16%;
    }

    .stretch__secon {
        padding-bottom: 9%;
    }

}

@media screen and (max-width: 1024px) {

    .secondary__content--wrapper {
        top: 474%;
    }

    .stretch__prim {
        padding-bottom: 58%;
    }

    .stretch__secon {
        padding-bottom: 39%;
    }

}

@media screen and (max-width: 768px) {
    .secondary__content--wrapper {
        top: 635%;

    }

    .secondary__content {
        flex-wrap: wrap
    }

    .secondary__content--item {
        width: 50%;
    }

    .grow {
        width: 100%;
    }

    .stretch__prim {
        padding-bottom: 42%;
    }

    .stretch__secon {
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 412px) {
    .secondary__content--wrapper {
        top: 763%;
    }

    .secondary__content {
        @include flex(column, space-around);
    }

    .secondary__content--item {
        width: 100%;
    }
}