// CONTENT IN MIDDLE BOXES 

.main {
    position: absolute;
    top: 115%;

}

.main__introduction,
.main__content {
    padding: 0% 6%;
}

.main__heading {
    padding: 8% 0 6%;
    font-size: 1.875rem
}

.main__introduction {
    @include flex(row, space-between);
    // position: absolute;
    top: 750%;
}

.main__menu {
    width: 105%;
    font-weight: bold;
    font-size: 2.375rem;
    color: $secondary_menu-text;
}

.main__menu li {
    text-align: end;
    margin: 0 5%;
    padding: 3% 7%;
    border-right: 2px solid $border_color;
}

.special {
    background: $menu_color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover:hover {
    color: $hover;
    cursor: pointer;
}

.main__description {
    text-align: justify;
    margin: 0 10% 5% 5%;
    font-size: 1rem;
    line-height: 1.875rem;
}

// ***************************************************** 

.main__item--secondary {
    padding: 3% 6% 1% 6%;
    font-size: 0.875rem;
    color: $content_heading;
    font-weight: bold;
    vertical-align: middle;
}

.main__heading--special {
    color: $hover;
    padding: 0% 6% 3% 6%;
    font-size: 2.2rem;
}

.main__content {
    @include flex(row, space-between);
    flex-wrap: wrap;
}

.main__content--item {
    width: $size / 3;
}

.main__content--icon {
    width: 18%;
    background-color: $text_color;
    border-radius: 20%;
    margin: 1% 1% 1% 0%;
}

.main__content--image {
    padding: 8%;
}

.main__content--heading {
    color: $content_heading;
    font-size: 1.375rem;
    padding: 5% 15% 3% 0%;
    line-height: 1.625rem;
}

.content__special {
    padding: 0% 0% 5% 0%;
    line-height: 1.625rem;
}

.content {
    text-align: justify;
    // padding: 0% 5% 5% 0%;
    line-height: 1.625rem;
}

@media screen and (max-width: 1440px) {
    .main__content--icon {
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {

    .main__menu,
    .main__description {
        width: 100%;
        margin-top: 2%;
    }

    .main__menu li {
        white-space: nowrap;
        font-size: 1.9rem;
        padding-bottom: 8%;
    }

    .main__heading {
        padding-top: 0;
    }

}

@media screen and (max-width: 768px) {
    .main {
        top: 100%;
        // width: 70%;

    }

    .main__introduction {
        @include flex(column, space-between);
        // width: 70%;
    }

    .main__menu li {
        border-right: none;
        white-space: nowrap;
        padding: 3% 10% 3% 0%;
        margin: 0;
    }

    .main__menu {
        width: 40%;
        border-bottom: 2px solid $border_color;
    }

    .none {
        display: none;
    }

    .main__menu ul {
        display: flex;
        flex-direction: row;
        font-size: 1.7rem;
        width: 100%;
    }

    .main__description {
        width: 70%;
        margin: 0;
    }

    .main__description p {
        font-size: 1.1875rem;


    }

    .main__heading {
        font-size: 1.5rem;
        padding: 3%;
    }

    .main__content {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .main__content--item {
        width: 50%;


    }

    .main__content--image {
        padding: 6%;
        width: 90%;
    }

    .main__heading--special {
        width: 60%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 412px) {
    .main {
        top: 80%;
    }

    .main__menu li {
        padding: 3%;

    }

    .main__menu ul {
        font-size: 1.5rem;
    }

    .main__description,
    .main__menu,
    .main__item--secondary,
    .main__heading--special,
    .main__content--item {
        width: 100%;
    }

    .main__description p {
        font-size: 1.1875rem;
    }

    .main__heading {
        font-size: 1.25rem;

    }

    .main__content {
        @include flex(column, space-between);

    }

    .main__content--icon {
        width: 18%;
    }

    .main__heading--special {
        // width: 40%;
        font-size: 2rem;
        // padding: 0% 3%;
    }

}

// ********************************************************** 
// SLIDER 
.slide {
    display: flex;
    flex-direction: row;
}

.radio {
    display: none;
}

.container {
    position: relative;
    // max-width: 800px;
    margin: 2% auto;
    background-color: $text_color;
    // border: 2px solid lime;

}

.slider {
    width: 100%;
    position: absolute;
    height: 0;
    padding-bottom: 50%;
    // padding-right: 100%;
    overflow: hidden;

    height: auto;
    // border: 2px solid orangered;
    background-color: $text_color;
}

.slide {
    position: absolute;
    width: 100%;
    padding: 6% 4%;
    height: 100%;
    top: 0;
    opacity: 0;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 1.3s;
    border-radius: 5%;

}

.caption {
    // position: absolute;
    width: 100%;
    height: 100%;
    // left: 5%;
    // padding: 5%;
    // top: 5%;
    // bottom: -100%;
    font-size: 1.875rem;
    transition: 0.9s;
    color: $hover;
    font-weight: bold;
    background-color: $secondary-background;
    text-align: justify;
    padding: 6%;

}

.caption__item--hover img {
    width: 1%;

}

.caption__item--hover {
    font-size: 0.875rem;
    color: $content_heading;
    font-weight: bold;
    padding: 3%;
}

.caption__item--bold,
.caption__item {
    color: $secondary-text;
}

.caption__item--bold {
    font-weight: bold;
    padding: 8% 0% 4%;
}

.caption__item {
    font-size: 0.875rem;
}

.dot {
    width: 100%;
    position: absolute;
    top: 98%;
    // margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid blueviolet;

}

.dot label {
    width: 16px;
    height: 16px;
    background: $content_heading;
    margin: 0 1%;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

.dot label:hover {
    opacity: 0.7;
}

#radio-1:checked~#slide-1,
#radio-2:checked~#slide-2,
#radio-3:checked~#slide-3 {
    opacity: 1;

}

#radio-1:checked~#slide-1 img,
#radio-2:checked~#slide-2 img,
#radio-3:checked~#slide-3 img {
    transform: scale(1);

}

#radio-1:checked~.dot #label-1,
#radio-2:checked~.dot #label-2,
#radio-3:checked~.dot #label-3 {
    background: $content_heading;
    opacity: 1;
}




@media screen and (max-width: 1024px) {
    .slide {
        display: flex;
        flex-direction: row;
    }

    .radio {
        display: none;
    }

    .container {
        position: relative;
        // max-width: 800px;
        margin: 2% auto;
        background-color: $text_color;
        // border: 2px solid lime;

    }

    .slider {
        width: 100%;
        position: absolute;
        height: 0;
        padding-bottom: 40%;


        overflow: hidden;

        height: auto;
        // border: 2px solid orangered;
        background-color: $text_color;
    }

    .slide {
        position: absolute;
        width: 100%;
        padding: 3% 4%;
        height: 100%;
        top: 0;
        opacity: 0;
        align-items: center;

    }

    .slide img {
        width: 100%;
        // height: 130%;
        object-fit: cover;
        transform: scale(1.1);
        transition: 1.3s;
        border-radius: 5%;
        padding: 1.2% 0%;
    }

    .caption {

        width: 100%;
        height: auto;
        font-size: 1.4rem;
        transition: 0.9s;
        color: $hover;
        font-weight: bold;
        background-color: $secondary-background;
        text-align: justify;
        padding: 3.9%;
        // margin: 5% 0%;

    }

    .caption__item--hover img {
        width: 1%;

    }

    .caption__item--hover {
        font-size: 0.875rem;
        color: $content_heading;
        font-weight: bold;
        padding: 3%;
    }

    .caption__item--bold,
    .caption__item {
        color: $secondary-text;
    }

    .caption__item--bold {
        font-weight: bold;
        padding: 8% 0% 4%;
    }

    .caption__item {
        font-size: 0.875rem;
    }

    .dot {
        width: 100%;
        position: absolute;
        top: 95%;
        // margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 2px solid blueviolet;
        // height: fit-content;

    }

    .dot label {
        width: 16px;
        height: 16px;
        background: $content_heading;
        margin: 0 1%;
        border-radius: 50%;
        opacity: 0.3;
        cursor: pointer;
        transition: 0.2s ease-in-out;

    }

    .dot label:hover {
        opacity: 0.7;
    }

    #radio-1:checked~#slide-1,
    #radio-2:checked~#slide-2,
    #radio-3:checked~#slide-3 {
        opacity: 1;

    }

    #radio-1:checked~#slide-1 img,
    #radio-2:checked~#slide-2 img,
    #radio-3:checked~#slide-3 img {
        transform: scale(1);

    }

    #radio-1:checked~.dot #label-1,
    #radio-2:checked~.dot #label-2,
    #radio-3:checked~.dot #label-3 {
        background: $content_heading;
        opacity: 1;
    }

}

@media screen and (max-width: 768px) {

    .slide {
        display: flex;
        flex-direction: column;
    }


    .slider {
        width: 100%;
        padding-bottom: 150%;

    }

    .slide {
        padding: 6% 4%;

    }

    // .slide img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     transform: scale(1.1);
    //     transition: 1.3s;
    //     border-radius: 5%;

    // }

    .caption {
        font-size: 1.875rem;
        padding: 6%;

    }

    .caption__item--hover img {
        width: 1.5%;
        vertical-align: middle;
    }

    .dot {

        top: 98%;


    }

}


@media screen and (max-width: 412px) {
    .slider {
        width: 100%;
        position: absolute;
        padding-bottom: 230%;
        // height: 140%;


    }

    .slide {
        position: absolute;
        width: 100%;
        padding: 10% 4%;
        height: 100%;
        top: 0;
        opacity: 0;
        align-items: center;

    }

    .caption {
        font-size: 2rem;


    }

    .caption__item--hover img {
        width: 2%;

    }

}

// ******************************************************* 
// LOGOS 

.logo {

    position: absolute;
    top: 379.8%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: $text_color;
}

.logo__heading {
    margin: 8% 2% 5%;
    width: 100%;
    color: $logo_heading;
    text-align: center;
    text-transform: uppercase;

}

.logo_item {
    @include flex(column, flex-start);
    flex-grow: 1;
    width: $size / 4;
}

@media screen and (min-width: 1920px) {

    .logo {

        position: absolute;
        top: 312.7%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: $text_color;
    }

    .logo__heading {
        margin: 8% 2% 5%;
        width: 100%;
        color: $logo_heading;
        text-align: center;
        text-transform: uppercase;

    }

    .logo_item {
        @include flex(column, flex-start);
        flex-grow: 1;
        width: $size / 4;
    }
}

@media screen and (max-width: 1440px) {

    .logo {

        top: 372.5%;
        width: 100%;

    }

    .logo__heading {
        margin: 8% 2% 5%;
        width: 100%;

    }


}

@media screen and (max-width: 1024px) {

    .logo {


        top: 370.5%;

    }

    .logo__heading {
        margin: 8% 2% 5%;
        width: 100%;


    }

}

@media screen and (max-width: 768px) {
    .logo {

        position: absolute;
        top: 533%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: $text_color;
    }

    .logo__heading {
        margin: 18% 2% 5%;
        width: 100%;
        color: $logo_heading;
        text-align: center;
        text-transform: uppercase;

    }

    .logo_item {
        @include flex(column, flex-start);
        flex-grow: 1;
        width: $size / 3;
    }

}


@media screen and (max-width: 412px) {
    .logo {
        top: 554.5%;
    }

    .logo_item {

        width: 100%;
    }

    .display__none {
        display: none;
    }
}